body {
    color:white;
    background-color: pink;
}

.heading {
    width:80%;
    font-size: 22px;
}

.name_of_objects {
    color:aqua;
}

#camera {
    border:2px dashed black;
    width: 350;
    height: 300;
}

#result_object_name {
    color: yellow;
}

#result_accuracy {
    color: yellow;
}